Collecting freeze
  Downloading http://pypi.doubanio.com/packages/c2/16/ca9fcd75d8c958b2260d521f18d7e697de5d2133fc68fc968feef4a348b6/freeze-1.0.10.tar.gz
Requirement already satisfied: six in c:\users\chunq\appdata\local\programs\python\python36\lib\site-packages (from freeze)
Installing collected packages: freeze
  Running setup.py install for freeze: started
    Running setup.py install for freeze: finished with status 'done'
Successfully installed freeze-1.0.10
